
<div class="text-center">
  <strong>ジャンル</strong><br>
  <mark><%= @category.name %></mark>
</div>
<table class="table table-bordered text-center">
  <tr>
    <th><%= @post.title %></th>
  </tr>
  <tr>
    <th><%= @post.content %></th>
  </tr>
  <tr>
    <th>連絡はこちら <%= @post.contacthere %></th>
  </tr>
  <tr>
    <th>投稿者: <%= link_to @user.name, @user %><span class="text-muted">さん</span></th>
  </tr>
</table>


<% if current_user == @user %>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= link_to '投稿を編集する', edit_post_path(@post), class: 'btn btn-light' %>
      <%= link_to '投稿をを削除する', @post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
      <%= link_to '一覧に戻る', root_url, class: 'btn btn-success' %>
    </div>
  </div>  
<% else %>
  <div class="text-center">
  <%= link_to '一覧に戻る', root_url, class: 'btn btn-success' %>
  </div>
<% end %>  